#colors div {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 25px;
    display: inline-block;
    animation-duration: 0.25s;
    animation-fill-mode: backwards;
}

#colors {
    width: 230px;
    margin: 0 auto;
    text-align: center;
}

#score {
    margin: 1em auto;
    width: 300px;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#yellow {
    background-color: yellow;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0.1;
    }
}